.header {
  width: 100%;
  display: flex;
  position: relative;
  z-index: 10;
  min-height: var(--headerHeight);
  border-bottom: 1px solid var(--grayColor);
}

.header__body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  min-width: var(--headerHeight);
  min-height: var(--headerHeight);
  border-right: 1px solid var(--grayColor);
}

.header__menu {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  padding-inline: 50px;
  justify-content: space-between;
}

.header__menu:not(:has(.header__catalog)) {
  justify-content: flex-end;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header__list-item {
  display: flex;
  align-items: center;
}

.header__content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__menu-button {
  display: none;
  gap: 10px;
  color: inherit;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  font-family: "OpenSans-SemiBold";
}

@media (hover: hover) {
  .header__menu-button:hover {
    opacity: 0.7;
  }
}

.header__menu-button:active {
  transform: scale(0.9);
}

.header__menu-icon {
  width: 40px;
  height: 30px;
  display: flex;
  gap: 7px;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}

.header__menu-icon.--open {
  position: relative;
  bottom: 6px;
}

.header__menu-icon::before,
.header__menu-icon span,
.header__menu-icon::after {
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  background-color: white;
}

.header__menu-icon::after {
  width: 70%;
}

.header__menu-icon.--open::before {
  position: relative;
  top: 15px;
  transform: rotate(45deg);
}

.header__menu-icon.--open span {
  transform: scale(0);
}

.header__menu-icon.--open::after {
  width: 100%;
  position: relative;
  bottom: 5px;
  transform: rotate(-45deg);
}

.header__link {
  display: flex;
  gap: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header__link.--active {
  opacity: 0.5;
}

@media (hover: hover) {
  .header__link:hover {
    opacity: 0.7;
  }

  .header__link.--active:hover {
    opacity: 0.5;
  }
}

.header__link.--active:focus-visible {
  outline: unset;
}

.header__link:active {
  transform: scale(var(--mainTransformScale));
}

.header__link.--active:active {
  transform: scale(1);
}

@media (max-width: 992px) {
  .header__logo {
    border-right: unset;
  }

  .header__menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: -200%;
    left: 0px;
    padding: 30px;
    overflow: auto;
    flex-direction: column;
    align-items: flex-start;
    height: calc(100vh - 155px);
    background-color: #2A282A;
    justify-content: flex-start !important;
  }

  .header__menu.--open {
    top: 0px;
  }

  .header__navigation {
    width: 100%;
    grid-area: unset;
    flex-direction: column;
  }

  .header__list {
    width: 100%;
    gap: unset;
    flex-direction: column;
    align-items: flex-start;
    
  }

  .header__list-item {
    width: 100%;
  }

  .header__menu-button {
    display: flex;
  }
}